@model Shift_Tech.Models.Account.UserProfile

@{
    ViewData["Title"] = "User Profile";
    Layout = "_AdminLayout";
}

@section Styles {
    <style>
 
    </style>
}

<div class="container">
    <div class="profile-container">
        <img src="@Model.LogoUrl" class="profile-image" />
        <div class="profile-details">
            <div style="display:flex; flex-direction:row">
                <h1>@Model.Name</h1>
                @if (Model.IsSeller)
                {
                    <i title="Seller" class="fas fa-store" style="color:green;margin-left:10px"></i>
                }
                @if (Model.IsAdmin)
                {
                    <i title="Admin" class="fas fa-user" style="color:blue; margin-left:10px"></i>
                }
            </div>
            <p>@Model.Login</p>
        </div>
    </div>
</div>
